.postDetailsContainer {
  max-width: 79.6rem;
  border-radius: 1.2rem;
  border: 0.05rem solid #dadada;
  background-color: #fff;
}

.parentPostContainer {
  padding: 1.4rem 0.9rem 0rem 0.8rem;
}

.postDetailsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.userPostDetails {
  display: flex;
}

.postDetailsAvatarContainer {
  width: clamp(4.4rem, 4.4vw, 9rem);
  height: clamp(4.4rem, 4.4vw, 9rem);
  cursor: pointer;
}

.userAvatar {
  width: 100%;
  height: 100%;
}

.usernameAndTimeContainer {
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.userPostName {
  font-family: Montserrat;
  font-size: clamp(1.8rem, 1.8vw, 2.2rem);
  font-weight: 500;
  line-height: clamp(2.194rem, 2.194vw, 2.682rem);
  letter-spacing: 0.02em;
  color: #000;
}

.postTime {
  margin-top: clamp(0.5rem, 0.5vw, 0.9rem);
  font-family: Montserrat;
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  font-weight: 400;
  line-height: clamp(1.707rem, 1.707vw, 1.95rem);
  letter-spacing: 0.02em;
  color: #000;
}

.postDeailsOption {
  align-self: baseline;
}

.postDeailsOption svg {
  width: 0.4rem;
  height: 2.1rem;
}

.userPost {
  min-height: 3rem;
  font-family: Montserrat;
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  font-weight: 400;
  line-height: clamp(1.707rem, 1.707vw, 1.95rem);
  letter-spacing: 0.02em;
  padding: 2rem 0rem;
}

.postDetailsInteractionContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  border-top: 0.04rem solid #dadadab2;
  border-bottom: 0.04rem solid #dadadab2;
  height: 5.2rem;
}
