.societyName {
  padding: 1rem 2rem 1rem 0rem;
  background-color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(2rem, 2vw, 2.6rem);
  font-weight: 500;
  line-height: clamp(2.219rem, 2.219vw, 4.194rem);
}

.societyContentOptions {
  display: flex;
  margin-bottom: clamp(1rem, 1vw, 2.1rem);
}

.societyOptionList {
  display: flex;
  justify-content: space-between;
  flex: 1;
  border: 0.05rem solid #dadada;
  padding: 1rem 1.7rem;
}

.joinSocietyBtnContainer {
  margin-left: clamp(1rem, 1vw, 2rem);
  background-color: #407bff;
  border-radius: 0.1rem;
  padding: 1rem 1.7rem;
}

.joinSocietyBtn {
  color: #fff;
}

.joinSocietyBtn,
.optionBtn {
  /* font-family: Montserrat; */
  font-size: clamp(1rem, 1vw, 1.8rem);
  font-weight: 500;
  line-height: clamp(1.219rem, 1.219vw, 2.194rem);
  letter-spacing: 0.02em;
}

.optionBtn {
  color: #000000;
  transition: border-bottom, margin-top, 0.3s linear;
}

.optionBtn:hover {
  border-bottom: 0.1rem solid #000000;
  margin-top: clamp(0.2rem, 0.2vw, 1.4rem);
}

.activeOption {
  border-bottom: 0.1rem solid #000000;
  margin-top: clamp(0.2rem, 0.2vw, 1.4rem);
}

@media (min-width: 768px) {
  .hiddenOnTabAndDesktop {
    display: none;
  }
}
