.commentForm {
  /* width: 95%; */
  /* margin: 0 auto; */
  padding: clamp(1.3rem, 1.3vw, 2rem);
  border-bottom: 0.1rem solid #ababab80;
}

.commentFormContainer {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: clamp(4rem, 4vw, 5.9rem) 1fr;
  margin-top: 1.7rem;
}

.commentUserAvatarContainer {
  width: clamp(4rem, 4vw, 5.9rem);
  height: clamp(4rem, 4vw, 5.9rem);
}

.commentUserAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.textareaAndBtnContainer {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #ababab80;
  border-radius: 1.2rem;
  padding: 0.5rem;
}

.commentFormTextarea {
  width: 100%;
  padding: 0.2rem 0.5rem;
  font-size: clamp(1.6rem, 1.6vw, 1.8rem);
  font-weight: 400;
  line-height: clamp(1.707rem, 1.7vw, 2.194rem);
  letter-spacing: 2%;
}

.commentFormTextarea::placeholder {
  color: #797979;
}

.commentBtnContainer {
  display: grid;
  gap: 0.5rem;
  margin-left: auto;
  margin-top: clamp(1.3rem, 1.3vw, 2rem);
}

.commentCancelBtn,
.commentFormBtn {
  width: clamp(5rem, 5vw, 8.6rem);
  height: clamp(3.3rem, 3.3vw, 4rem);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: 500;
  line-height: clamp(1.707rem, 1.7vw, 2.438rem);
}

.commentFormBtn {
  background-color: #407bff;
  color: #fff;
}

.commentCancelBtn:hover {
  outline: 0.05rem solid #00000080;
}
