.navContainer {
  position: fixed;
  bottom: -1.8rem;
  grid-area: nav;
  width: 100%;
  border-top: 0.05rem solid #0000001a;
  height: 8.8rem;
  background-color: var(--primary-white-color, #fff);
  padding: 1.4rem 1.2rem 2.2rem 1.4rem;
  z-index: 1;
}

.brandLogo {
  display: none;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.hiddenOnMobile {
  display: none;
}

.navLink {
  display: grid;
  gap: 0.4rem;
  align-items: center;
  justify-items: center;
}

.navLink svg {
  width: clamp(1.8rem, 1.8vw, 2.8rem);
  height: clamp(1.8rem, 1.8vw, 2.8rem);
}

.navLink:hover svg {
  fill: #000;
}

.navName {
  font-family: Montserrat;
  font-size: clamp(1.2rem, 1.2vw, 2.2rem);
  font-weight: 500;
  line-height: clamp(1.909rem, 1.909vw, 2.682rem);
  letter-spacing: 0.02em;
  color: #000000d6;
}

@media (min-width: 768px) {
  .navContainer {
    bottom: unset;
    width: unset;
    min-height: 100vh;
    padding-top: 2rem;
  }

  .brandLogo {
    display: block;
    margin: 0 auto;
    width: clamp(5.3rem, 5vw, 9rem);
    height: clamp(5.3rem, 5vw, 8rem);
    cursor: pointer;
  }

  .navList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: clamp(10rem, 15vw, 31.1rem);
    height: 50rem;
  }

  .hiddenOnMobile {
    display: block;
  }

  .navLink {
    width: clamp(12rem, 12vw, 18.7rem);
  }

  .navLink:hover svg {
    fill: #000000a6;
  }
}

@media (min-width: 768px) {
  .navItem:nth-child(1) {
    margin-top: clamp(2rem, 3vw, 3rem);
  }

  .navItem:nth-child(6) {
    margin-top: clamp(3rem, 3vw, 5rem);
  }

  .navItem:nth-child(7) {
    margin-bottom: clamp(3rem, 3vw, 5rem);
  }
}

@media (min-width: 1200px) {
  .navList {
    width: clamp(20rem, 20vw, 31.1rem);
  }

  .navItem {
    display: grid;
    place-items: center;
    padding: 1.2rem 0rem;
  }

  .navItem:hover {
    background-color: #407bff;
    border-radius: 1rem;
  }

  .navItem:hover .navName {
    color: #fff;
  }

  .navLink {
    /* justify-content: unset; */
    display: grid;
    grid-template-columns: clamp(2rem, 2vw, 2.8rem) 1fr;
    gap: 2rem;
  }

  .navName {
    /* margin-left: 1.8rem; */
    justify-self: flex-start;
  }
}
