.topbarContainer {
  padding: 1.5rem 1.4rem 1.3rem 1.4rem;
  border-bottom: 0.05rem solid #0000001a;
  margin-bottom: clamp(0.6rem, 0.6vw, 1.1rem);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.brandLogo {
  margin: 0 auto;
  display: block;
}

.hiddenOnMobile {
  display: none;
}

.topbarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileLink {
  display: block;
  width: clamp(3.4rem, 3.4vw, 4.2rem);
  height: clamp(3.4rem, 3.4vw, 4rem);
  border-radius: 4rem;
  border: 0.1rem solid black;
  cursor: pointer;
}

.searchContainer {
  width: clamp(24.7rem, 30vw, 41.7rem);
  width: clamp(20rem, 30vw, 41.7rem);
  height: clamp(3.4rem, 3.4vw, 4.6rem);
  padding: 10px 22px 9px 6px;
  border-radius: 0.5rem;
  border: 0.05rem solid #dadadacc;
  margin: 0 1.5rem;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: clamp(0.8rem, 1vw, 1rem);
  width: clamp(21.9rem, 21vw, 31.1rem);
  height: clamp(1.5rem, 1.5vw, 2.2rem);
}

.searchInput {
  width: 100%;
}

.notificationContainer {
  width: 3.6rem;
  height: clamp(3.4rem, 3.4vw, 3.447rem);
  border-radius: 0.5rem;
  border: 0.05rem solid #dadadacc;
  display: grid;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .hiddenOnMobile {
    display: block;
  }

  .hiddenOnDesktop {
    display: none;
  }

  .topbarContainer {
    padding-top: 2rem;
  }

  .pathNameContainer {
    display: flex;
    align-items: center;
  }

  .goBackBtn {
    width: clamp(2.2rem, 2.2vw, 2.7rem);
    margin-right: clamp(0.6rem, 0.6rem, 1rem);
  }

  .pathName {
    font-size: clamp(2.6rem, 2.6rem, 3rem);
    font-weight: 500;
    font-family: Poppins;
    line-height: 4.5rem;
  }

  .profileandNotificationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 9.8rem;
    gap: clamp(1rem, 1vw, 2.6rem);
  }
}

@media (min-width: 1000px) {
  .topbarContainer {
    padding: 1.8rem 5.6rem 2.2rem 2.6rem;
    border-bottom: 0.05rem solid #dadada80;
    border-width: 0px 0px 1px 1px;
    padding-top: 2rem;
  }

  .searchContainer {
    padding: 1.2rem 8.7rem 1.2rem 1.9rem;
    border-radius: 1.2rem;
  }

  .profileandNotificationContainer {
    display: grid;
    gap: clamp(2rem, 2vw, 2.6rem);
    grid-template-columns: clamp(2rem, 2vw, 3rem) clamp(3rem, 3rem, 4.2rem);
  }

  .notificationContainer {
    border: unset;
  }
}
