.homeWidget {
  display: none;
}

.hiddenOnMobile {
  display: none;
}

@media (min-width: 768px) {
  .hiddenOnMobile {
    display: block;
  }

  .hiddenOnTabAndDesktop {
    display: none;
  }

  .homeLayoutContainer {
    display: grid;
    grid-template-columns: 1fr clamp(15rem, 15vw, 31.7rem);
  }

  .homeWidget {
    display: block;
    position: sticky;
    top: 1.8rem;
    align-self: start;
    padding-left: 2.2rem;
  }
}
