.societyArticle {
  width: clamp(20rem, 89%, 78rem);
  margin: 0 auto;
  margin-top: 4.5rem;
  background-color: var(--primary-white-color);
  border-radius: 0.6rem;
  padding: 1rem;
}

.societyHeader {
  max-height: 34.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.societyImage {
  width: clamp(9.9rem, 22vw, 22rem);
  height: clamp(9.9rem, 22vw, 22rem);
  border-radius: 50%;
}

.societyTextContainer {
  display: grid;
  justify-items: center;
  gap: clamp(0.6rem, 0.6vw, 1.6rem);
}

.textHeader {
  margin-top: 0.6rem;
  font-size: clamp(2.3rem, 2.3vw, 3.8rem);
  font-weight: 500;
  line-height: clamp(2rem, 2vw, 4.632rem);
}

.textDesc {
  margin-top: 0.6rem;
  font-size: clamp(1.6rem, 1.6vw, 1.8rem);
  font-weight: 400;
  line-height: clamp(2rem, 2vw, 3.169rem);
}

.societySupportContainer {
  margin-top: clamp(1.6rem, 1.6vw, 3rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.9rem;
}

.supportImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.supportImage:hover {
  transform: scale(0.98);
}

.supportInfoContainer {
  text-align: center;
}

.supportInfoContainer h3 {
  font-size: clamp(1.6rem, 1.6vw, 3rem);
  font-weight: 500;
  line-height: clamp(2rem, 2vw, 3.657rem);
}

.supportInfoContainer p {
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  font-weight: 400;
  line-height: clamp(2rem, 2vw, 2.438rem);
}

@media (min-width: 618px) {
  .societySupportContainer {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (min-width: 768px) {
  .societyArticle {
    padding: 4.2rem 6.3rem 7.6rem 6.5rem;
  }
}
