/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

main {
  display: block;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

img {
  border-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a,
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  background-color: transparent;
}

input,
textarea {
  outline: none;
  border: none;
  resize: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

textarea::-webkit-scrollbar {
  display: none;
}

button,
select {
  /* 1 */
  text-transform: none;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; 
} */

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

body {
  max-width: 144rem;
  margin: auto;
  background-color: #f6f6f6;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  /* grid-template-areas: "appContent nav"; */
}

.app-content {
  grid-area: appContent;
}

.app-c {
  padding: 0.9rem 1.4rem 9rem 1.4rem;
}

.widget {
  display: none;
}

@media (min-width: 768px) {
  .app-wrapper {
    display: grid;
    grid-template-columns: 0.23fr 1fr;
    grid-template-areas: "nav appContent";
  }

  .app-c {
    padding: 0.9rem 1.4rem 2rem 1.4rem;
  }
}

@media (min-width: 1200px) {
  .app-wrapper {
    grid-template-columns: 0.29fr 1fr;
  }

  .app-c {
    /* display: grid;
    grid-template-columns: 1fr 20rem; */
    background-color: #f6f6f6;
    padding: 1.8rem 0rem 3.3rem 2.6rem;
  }

  /* .widget {
    display: block;
    padding-left: 2.2rem;
  } */
}
