.verifyEmailSection {
  background-color: #fff;
  max-width: 81.5rem;
  margin: 0 auto;
}

.brandLogo {
  width: clamp(10.2rem, 21.1vw, 17.2rem);
  height: clamp(10.1rem, 21.1vw, 17rem);
  display: block;
  margin: 0 auto;
}

.verifyEmailForm {
  display: grid;
  gap: 1.6rem;
  width: clamp(20rem, 89.6%, 50.8rem);

  max-width: 50.8rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.verifyEmailHeaderContainer {
  color: #000;
}

.verifyEmailHeader {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.926rem;
}

.verifyEmailText {
  font-family: Montserrat;
  font-size: clamp(1.6rem, 1.6vw, 2.2rem);
  font-weight: 400;
  line-height: clamp(1.95rem, 1.95vw, 2.682rem);
  margin-top: 1.6rem;
  color: #808a9a;
}

.inputContainer {
  display: grid;
  gap: clamp(2rem, 2vw, 2.1rem);
}

.formInput {
  width: 100%;
  height: clamp(5.3rem, 10.3vw, 7rem);
  border: 0.1rem solid #000000;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: clamp(1.707rem, 1.707vw, 1.95rem);
  color: #000000cc;
  padding: clamp(1.5rem, 2vw, 2.6rem);
}

.formInputt:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.formInput::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-weight: var(--ex-small-fw);
}

.verifyEmailButton {
  width: 100%;
  height: clamp(4.8rem, 5.3vw, 7rem);
  padding: 1.5rem;
  border-radius: 1.2rem;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  background-color: #407bff;
  color: #fff;
}

.resendOtpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.resendOtpBtn {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #407bff;
  margin-left: clamp(0.8rem, 0.8vw, 1.7rem);
}

@media (min-width: 1000px) {
  .verifyEmailSection {
    border-radius: 0px 20px 20px 0px;
    min-height: 81.2rem;
    max-height: 96.7rem;
  }

  .brandLogoContainer {
    margin-top: 14.7rem;
  }

  .verifyEmailHeaderContainer {
    text-align: center;
  }

  .verifyEmailForm {
    gap: 1.6rem;
    margin: 0 auto;
  }

  .formInput {
    /* padding: 2.3rem 3.3rem 2.6rem 1.6rem; */
    padding: 1.6 2rem;
    color: #000000;
  }
}
