.postBtn {
  position: fixed;
  bottom: 9rem;
  right: 2.1rem;
  background-color: #407bff;
  width: 6rem;
  height: 6rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnText {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.707rem;
  letter-spacing: 0.02em;
  color: #fff;
  margin-top: 0.2rem;
}

@media (min-width: 768px) {
  .hiddenOnTabAndDesktop {
    display: none;
  }

  .postBtn {
    all: unset;
    background-color: #407bff;
    width: 100%;
    height: 4.9rem;
    max-width: 28.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(2rem, 2vw, 3.3rem);
    border-radius: 1.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.194rem;
    letter-spacing: 0.02em;
    /* width: clamp(12rem, 20vw, 28.5rem); */
  }
}
