.onboardingContainer {
  padding: 1rem 2rem;
  width: 98%;
  max-width: 90.9rem;
  margin: 0 auto;
}

.onboardingStepContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.onboardingStepList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 20.6rem;
}

.onboardingStep {
  padding: 0;
  font-size: clamp(1rem, 1vw, 2rem);
  background-color: #b2b2b2;
  width: clamp(2rem, 3vw, 6rem);
  height: clamp(2rem, 3vw, 6.1rem);
  border-radius: 20rem;
  display: grid;
  place-items: center;
}

.currentStep {
  color: #fff;
  background-color: #427cff;
}

.nextStepBtn {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 500;
  line-height: clamp(2.3rem, 2.3vw, 3.413rem);
  color: #000000b2;
}

.onboardingBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.onboardingNextStep {
  background-color: transparent;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  font-family: Montserrat;
  font-size: clamp(1.6rem, 1.6vw, 2.5rem);
  font-weight: 500;
  line-height: clamp(1.9rem, 1.9vw, 3rem);
  text-align: center;
  background-color: #fff;
}
