.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 10%, 0.8);
  z-index: 1;
}

.userSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 4rem 4rem 0;
  padding: clamp(2rem, 7vw, 4rem);
  min-width: 20rem;
  max-width: 70%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0.3rem 0.6rem rgba(255, 255, 255, 0.1);
  transform: translateX(-100%);
  animation: user-sidebar-slide-in linear forwards;
}

@keyframes user-sidebar-slide-in {
  to {
    transform: translateX(0%);
  }
}

.userSidebarLink {
  margin-top: 2rem;
  width: 100%;
  min-width: 8.3rem;
  min-height: 11.1rem;
}

.userSidebarAvatar {
  width: 5.2rem !important;
  height: 5.2rem !important;
  border-radius: 50%;
}

.userSidebarName {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.438rem;
  letter-spacing: 0.02em;
  color: #000;
}

.userSidebarSmall {
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.707rem;
  color: #000000cc;
  width: 100%;
}

.userSidebarList {
  display: grid;
  gap: 3.4rem;
  margin-bottom: 5.3rem;
}

.userSidebarListItem {
  display: flex;
  align-items: center;
}

.userSidebarListLink,
.userSidebarButton p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.194rem;
  letter-spacing: 0.02em;
  color: #000000d6;
  display: flex;
}

.userSidebarListLink p {
  margin-left: 1rem;
}

.userSidebarListLink {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
}

.userSidebarButton svg {
  width: 2.2rem;
  height: 2rem;
  margin-right: 1rem;
  align-self: center;
}
